{% extends "base.html" %}

{% block content %}

  <style>
    .cart {
        margin-top: 20px;
    }

    .sub_total {
        text-align: right;
    }

    .total_section {
        border: 1px solid #aaa;
        border-radius: 5px;
        box-shadow: 2px 2px 5px #aaa;
        padding: 5px 10px 20px;
    }

    .cart_table {
        width: 100%;
    }
    .cart_table .actions {
        margin-top: 10px;
    }

    .cart_table th {
        padding: 5px 10px;
    }

    td.image_tab{
        width: 100px;
    }

    .cart_table .image {
        width: 150px;
        height: 150px;
        background-size: cover;
    }

    .cart_table .desc {
        padding: 15px;
    }

    .cart_table .price {
        min-width: 150px;
        text-align: justify;
    }

    .cart_table .quantity {
      min-width: 150px;
      text-align: justify;
    }

  </style>

  <div class="container cart">
    <div class="row">
      <div class="col-9">
        <img src="https://image.flaticon.com/icons/png/512/726/726496.png" alt="" width="50px">
        <h2 style="display: inline-block;"> | Shopping Cart</h2>
        <hr>

        <table class="cart_table table table-striped">
          <tr>
            <th scope="col">Image</th>
            <th scope="col">Product</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
          </tr>
		
			
		<!--Single Cart Item-->
		{% for item in cart %}
          <tr>
            <td class="image_tab">
              <div class="image" style="background-image: url({{item[0].image}})"></div>
            </td>
            <td class="desc">
              {{item[0].desc}}
              <br>
              {{item[0].name}}
              <div class="actions">
                <button class="btn btn-primary btn-sm"> Remove </button>
              </div>
            </td>
            <td class="price">
              <h3>{{ "$%.2f"|format(item[0].price * item[1]) }}</h3>
            </td>
          </tr>
        {% endfor %}
        
         </table>
        <div class="sub_total">
          Subtotal:
          <br>
          {{ "$%.2f"|format(subtotal) }}
        </div>
      </div>
      <div class="col-3 total_section">
        <h3>Order Summary</h3>
        <hr>
        Subtotal: {{ "$%.2f"|format(subtotal) }}
        <br>
        Tax: {{ "$%.2f"|format(tax) }}
        <br>
        Shipping: {{ "$%.2f"|format(shipping) }}
        <hr>
        Total: {{ "$%.2f"|format(grandtotal) }}
        <hr>
        <button class="btn btn-primary btn-large"> Proceed to checkout </button>
      </div>
    </div>
  </div>

{% endblock %}