{% extends "base.html" %}

{% block content %}
  <hr>
  <div class="container">
    <div class="row">
      
        <div class="card col-4" style="width: 18rem;">
          <!-- Bread Card -->
            <img src="{{inventory[product].image}}" class="card-img-top" alt="bread">
            <div class="card-body">
              <h5 class="card-title">{{inventory[product].name}}</h5>
              <p class="card-text">{{inventory[product].desc}}</p>
              <label> QTY: </label>
              <input type="number" min="0" max="12" name="qty" value="0">
              <br><br>
              <a href="#" class="btn btn-success">Add to Cart</a>
            </div>
        </div>
      
    </div>
  </div>

{% endblock %}